.pesho {
	color:red;
}

.pesho:hover {
	color:blue 
}
.even_row {
	background: red;
}

#search{

	min-width: 100%;
}

.wrapp{


	background-color: #ECF0F1;
	margin: 100px auto 10px auto;
	padding: 10px;
	border: 1px solid black;
	width: 1000px;
	height: 550px;
}

.logo{

	background-color: #18bc9c;
}
.fb-container{

	text-align: center;
	width: 350px;
	height: 350px;
	border: 1px solid black;
}

#picture{

	width: 300px;
	height: 300px;
	border: 1px solid black;
}
.set{
	padding: 20px;
}

span{
	margin-right: 10px;
}

#cover{
	width: 300px;
	height: 100px;
	border: 1px solid black;
}