
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-6" class="row">
        <img class="logo" class="col-md-8" src="./img/logo.png"  />
        <h1 class="col-md-4">SoftUni BOok</h1>

    </div>
    <div class="col-md-3"></div>
</div>
<div class="wrapp" class="row">

    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                    </div>
                </div>

                <button class="btn-sm"> Login</button>

            </fieldset>
        </form>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Registration</legend>
                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="reg-username" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="reg-inputPassword" placeholder="Password">

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="reg-confirmPassword" placeholder="Password">

                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="name" placeholder="Name">

                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" id="email" placeholder="Email">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Radios</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="male" value="male" checked="">
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="female" value="female">
                                Female
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="other" value="female">
                                Other
                            </label>
                        </div>
                    </div>
                </div>

                <button class="btn-sm"> Register</button>
            </fieldset>
        </form>

    </div>

</div>


