<nav class="navbar navbar-inverse">
    <div class="container-fluid" class="row">


        <div class="col-sm-1"></div>

        <div class="col-sm-10">

            <div class="row">

                <div class="navbar-header" class="col-sm-1">

                    <a class="navbar-brand" href="#/home">SoftUni Book</a>
                </div>


                <div class="col-sm-6">

                    <form class="navbar-form" role="search">

                        <input type="text" class="form-control" id="search" placeholder="Search">

                    </form>
                </div>

                <div class="col-sm-4">
                    <ul class="nav navbar-nav">
                        <li><a href="#/home">News Feed</a></li>
                        <li><a href="#/home">Invates</a></li>
                        <li><a href="#/home">Settings</a></li>
                        <li><a href="#/home" ng-click="logout()">Logout</a></li>

                    </ul>
                </div>

                <div>
                    <h4>Username</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</nav>