<form class="form-horizontal">
    <fieldset>
        <legend>Registration</legend>
        <div class="form-group">
            <label for="reg-username" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="reg-username" placeholder="Username">
            </div>
        </div>

        <div class="form-group">
            <label for="reg-inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="reg-inputPassword" placeholder="Password">

            </div>
        </div>

        <div class="form-group">
            <label for="reg-confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="reg-confirmPassword" placeholder="Password">

            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Name">

            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="email" placeholder="Email">

            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Radios</label>
            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="male" value="male" checked="">
                        Male
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="female" value="female">
                        Female
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="other" value="female">
                        Other
                    </label>
                </div>
            </div>
        </div>

        <button class="btn-sm"> Register</button>
    </fieldset>
</form>
