<div class="profileContainerCf">


        <img ng-src="{{cfCoverImg}}" class="myCover">

        <img ng-src="{{cfProfileImg}}" class="currentProfile">


        <button class="btn btn-danger" class="isFriend" ng-show="isFriend" >FRIEND</button>
        <button class="btn btn-danger" class="isFriend" ng-show="!isFriend && hasPendingRequest" >INVATED</button>
        <button class="btn btn-danger" class="invate" ng-click="invate(usernamec)" ng-show="!isFriend && !hasPendingRequest">INVATE</button>
        <div></div>
        <div id="postContainer" ng-show="isFriend">

        <textarea  placeholder="What's on your mind?"  ng-model="myPost">
        </textarea>
        <button class="btn btn-success"  ng-click="postMsg(myPost,usernamec)">POST</button>
        </div>

        <div class="friendFeedCf">

                <div ng-repeat="news in userFeed"  ng-init="checkComments(news.totalCommentsCount,news.id)">
                        <div class="panel panel-success" >

                                <div class="panel-heading">
                                        <h4>{{news.author.name}} on <a ng-href="#/users/{{news.wallOwner.username}}"> {{news.wallOwner.name}} </a> wall</h4>

                                        <p>{{news.date | date:'dd MMM yyyy HH:mm:ss'}}</p>
                                        <img src="" class="feedProfilePic" ng-src="{{news.author.profileImageData}}"
                                             ng-if="news.author.profileImageData"/>
                                        <img src="" class="feedProfilePic" ng-src="{{defaultProfileImageData}}"
                                             ng-if="!news.author.profileImageData"/>
                                </div>


                                <div class="panel-body">
                                        <h4>{{news.postContent}}</h4>
                                        <span >Likes - {{news.likesCount}}</span>
                                        <span >Comments - {{news.totalCommentsCount}}</span>
                                        <div ng-show="friend">
                                                <button class="btn btn-info" ng-show="!news.liked" ng-click="likeFunc(news.id)" ng-init="likes(news.liked)">Like </button>
                                                <button class="btn btn-info" ng-show="news.liked" ng-click="unlikeFunc(news.id)" ng-init="likes(news.liked)">Unlike </button>
                                                <button class="btn btn-info" ng-click="comment(news.id)">comment</button>

                                                <!-- EDIT BUTTON-->
                                                <button class="btn btn-danger" ng-show="news.author.username == username" ng-click="edit(news.id)">Edit</button>
                                                <button class="btn btn-danger" ng-show="news.author.username == username" ng-click="deletePost(news.id)">Delete</button>

                                                <!-- EDIT FORM-->
                                                <form ng-show="editComment && checkCurrentEditValue == news.id">
                                                        <input type="text"  ng-model="current" placeholder="Your comment">
                                                        <button class="btn btn-info" ng-click="editPost(news.id, current)">Edit</button>
                                                </form>

                                                <form ng-show="showComment && checkCurrentCommentValue == news.id">
                                                        <input type="text"  ng-model="current" placeholder="Your comment">
                                                        <button class="btn btn-info" ng-click="postComment(current, news.id)">post</button>
                                                </form>
                                        </div>

                                </div>
                        </div>
                        <div class="comments" ng-repeat="comments in news.comments">

                                <div class="panel panel-primary" >

                                        <div class="panel-heading">
                                                <h4>{{comments.author.name}}</h4>

                                                <p>{{comments.date | date:'dd MMM yyyy HH:mm:ss'}}</p>
                                                <img src="" class="feedProfilePic" ng-src="{{comments.author.profileImageData}}"
                                                     ng-if="comments.author.profileImageData"/>
                                                <img src="" class="feedProfilePic" ng-src="{{defaultProfileImageData}}"
                                                     ng-if="!comments.author.profileImageData"/>
                                        </div>


                                        <div class="panel-body" ng-init="selfCheck(news.totalCommentsCount, news.id)">

                                                <h4>{{comments.commentContent}}</h4>
                                                <p>Likes : {{comments.likesCount}}</p>
                                                <div ng-show="friend">
                                                <button class="btn btn-info" ng-show="!comments.liked" ng-click="likeComFunc(news.id,comments.id)" ng-init="likes(comments.liked)">Like </button>
                                                <button class="btn btn-info" ng-show="comments.liked" ng-click="unlikeComFunc(news.id,comments.id)" ng-init="likes(comments.liked)">Unlike </button>
                                                <div ng-if="comments.author.username == username">
                                                        <button class="btn btn-danger" ng-click="deleteComment(news.id,comments.id)">Delete</button>
                                                        <button class="btn btn-info" ng-click="showEditField(comments.id)">Edit</button>
                                                </div>
                                                <form ng-show="commentEdit && comments.id == checkId">
                                                        <span> {{editComment}}</span>
                                                        <input type="text"  ng-model="editedComment" placeholder="Your comment">
                                                        <button class="btn btn-info" ng-click="changeComment(news.id,comments.id, editedComment)">post</button>
                                                </form>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div ng-show="commentsList && curId == news.id">


                                <div class="comments" ng-repeat="comments in otherComments">

                                        <div class="panel panel-primary" >

                                                <div class="panel-heading">
                                                        <h4>{{comments.author.name}}</h4>

                                                        <p>{{comments.date | date:'dd MMM yyyy HH:mm:ss'}}</p>
                                                        <img src="" class="feedProfilePic" ng-src="{{comments.author.profileImageData}}"
                                                             ng-if="comments.author.profileImageData"/>
                                                        <img src="" class="feedProfilePic" ng-src="{{defaultProfileImageData}}"
                                                             ng-if="!comments.author.profileImageData"/>
                                                </div>


                                                <div class="panel-body" ng-init="selfCheckMore(comments.author.username)">

                                                        <h4>{{comments.commentContent}}</h4>
                                                        <p>Likes : {{comments.likesCount}}</p>

                                                        <div ng-show="friend">
                                                        <button class="btn btn-info" ng-show="!comments.liked" ng-click="likeComFunc(news.id,comments.id)" ng-init="likes(comments.liked)">Like </button>
                                                        <button class="btn btn-info" ng-show="comments.liked" ng-click="unlikeComFunc(news.id,comments.id)" ng-init="likes(comments.liked)">Unlike </button>

                                                        <div ng-show="comments.author.username == username">
                                                                <button class="btn btn-info" ng-click="showEditField(comments.id)">Edit</button>
                                                                <button class="btn btn-danger" ng-click="deleteComment(news.id,comments.id)">Delete</button>
                                                        </div>
                                                        <form ng-show="commentEdit && comments.id == checkId">
                                                                <span> {{editComment}}</span>
                                                                <input type="text"  ng-model="editedComment" placeholder="Your comment">
                                                                <button class="btn btn-info" ng-click="editComment(news.id,comments.id, editedComment)">post</button>
                                                        </form>

                                                        </div>
                                                </div>
                                        </div>
                                </div>


                        </div>

                        <button class="btn btn-info" ng-if="news.totalCommentsCount > 3" ng-click="showMoreComments(news.id)" >{{hideShowComments}}</button>

                </div>


        </div>
        <div id="profilePageFB" friends-box-C-F></div>

</div>
