<div class="fb-container">

    <h3>Friends - {{countOfFriends}} total</h3>

    <ul>
        <div class="boxFriend" ng-repeat="friend in friends">
            <a ng-href="#/users/{{friend.username}}">
                <p>{{friend.name}}</p>
            </a>
            <a ng-href="#/users/{{friend.username}}">
                <img src="" class="boxPic" ng-src="{{friend.profileImageData}}" ng-if="friend.profileImageData"/>
            </a>
            <a ng-href="#/users/{{friend.username}}">
                <img src="" class="boxPic" ng-src="{{defaultProfileImageData}}" ng-if="!friend.profileImageData"/>
            </a>
        </div>


    </ul>

</div>