<nav class="navbar navbar-inverse">
    <div class="container-fluid" class="row">


        <div class="col-sm-1"></div>

        <div class="col-sm-10">

            <div class="row">

                <div class="navbar-header" class="col-sm-1">

                    <a class="navbar-brand" href="#/home">SoftUni Book</a>
                </div>


                <div class="col-sm-6">

                    <form class="navbar-form" role="search">

                        <input type="text" class="form-control" id="search" placeholder="Search">

                    </form>
                </div>

                <div class="col-sm-4">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">News Feed</a></li>
                        <li><a href="" ng-style="color" ng-click="invates()">Invates {{count()}}</a></li>
                        <li><a href="#/edit-profile">Settings</a></li>
                        <li><a href="#/" ng-click="logout()">Logout</a></li>

                    </ul>
                </div>

                <div>
                    <a href="#/profile/"><h4 id="topUsername">{{username}}</h4></a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

        <div friends-requests ng-hide="show" class="invates"></div>

    </div>

</nav>